<configuration>
<!--    <property name="HOME_PATH" value="/data0/logs/brown-bear" scope="CONTEXT"/>-->
    <property name="HOME_PATH" value="C:\\Users\\caiguanghui\\Desktop\\DataEye\\gitlab\\tunnel-proxy\\logs" scope="CONTEXT"/>
    <property name="MAX_HISTORY" value="2" scope="CONTEXT"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>-->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%-4relative] [%thread] [%logger{35}] - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>