<configuration>
    <property name="HOME_PATH" value="/data0/logs/tunnel-proxy" scope="CONTEXT"/>
    <property name="MAX_HISTORY" value="2" scope="CONTEXT"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy:MM:dd HH:mm:ss.SSS}] [%-4relative] [%thread] [%-5level] [%logger{35}] - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>