<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dataeye.proxy.dao.TunnelInitMapper">
    <!--column不做限制，可以为任意表的字段，而property须为type 定义的pojo属性-->
    <resultMap id="select_all" type="com.dataeye.proxy.bean.dto.TunnelInstance">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="alias" jdbcType="VARCHAR" property="alias"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="enable" jdbcType="TINYINT" property="enable"/>
        <result column="send_alarm_email" jdbcType="TINYINT" property="sendAlarmEmail"/>
        <result column="auto_get_core_ip_size" jdbcType="TINYINT" property="autoGetCoreIpSize"/>
        <result column="domain" jdbcType="VARCHAR" property="domain"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="boss_thread_size" jdbcType="INTEGER" property="bossThreadSize"/>
        <result column="worker_thread_size" jdbcType="INTEGER" property="workerThreadSize"/>
        <result column="concurrency" jdbcType="INTEGER" property="concurrency"/>
        <result column="max_net_bandwidth" jdbcType="INTEGER" property="maxNetBandwidth"/>
        <result column="max_slow_req_size" jdbcType="INTEGER" property="maxSlowReqSize"/>
        <result column="core_ip_size" jdbcType="INTEGER" property="coreIpSize"/>
        <result column="max_ip_size" jdbcType="INTEGER" property="maxIpSize"/>
        <result column="check_ip_pool_interval_seconds" jdbcType="INTEGER" property="checkIpPoolIntervalSeconds"/>
        <result column="min_success_percent_for_remove_ip" jdbcType="INTEGER" property="minSuccessPercentForRemoveIp"/>
        <result column="min_use_times_for_remove_ip" jdbcType="INTEGER" property="minUseTimesForRemoveIp"/>
        <result column="max_req_cost_for_add_ip" jdbcType="INTEGER" property="maxReqCostForAddIp"/>
        <result column="max_fetch_ip_num_every_day" jdbcType="INTEGER" property="maxFetchIpNumEveryDay"/>
        <result column="used_ip" jdbcType="INTEGER" property="usedIp"/>
        <result column="connect_timeout_millis" jdbcType="INTEGER" property="connectTimeoutMillis"/>
        <result column="retry_count" jdbcType="INTEGER" property="retryCount"/>
        <result column="read_timeout_seconds" jdbcType="INTEGER" property="readTimeoutSeconds"/>
        <result column="write_timeout_seconds" jdbcType="INTEGER" property="writeTimeoutSeconds"/>
        <result column="last_modified" jdbcType="TIMESTAMP" property="lastModified"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="queryAll" resultMap="select_all">
        SELECT * FROM tunnel_manage
    </select>

    <update id="updateUsedIp">
        update tunnel_manage set used_ip = #{usedIp} where alias = #{alias}
    </update>

    <update id="updateSuccessRate">
        update tunnel_manage
        set min_success_percent_for_remove_ip = #{rate}, min_use_times_for_remove_ip = #{useTimes}
        where alias = #{alias}
    </update>

    <insert id="addMonitorLog" parameterType="com.dataeye.proxy.bean.TunnelMonitorLog">
        INSERT INTO `ip_tunnel`.`tunnel_monitor`(`location`, `name`, `concurrency`, `ok_percent`, `cost`,
        `req_size`, `resp_size`, `req_bandwidth`, `resp_bandwidth`, `tcp_conn`, `set_meal_surplus_ip`, `ip_limit`, `used_ip`, `ip_pool_size`, `update_time`)
        VALUES (#{location}, #{name}, #{concurrency}, #{okPercent}, #{cost},
        #{reqSize}, #{respSize}, #{reqBandwidth}, #{respBandwidth}, #{tcpConn}, #{surplusIp}, #{ipLimit}, #{usedIp}, #{ipPoolSize}, #{updateTime});
    </insert>

    <select id="getMonitorLog" resultType="com.dataeye.proxy.bean.TunnelMonitorLog">
        select * from tunnel_monitor where `name` = #{name} and update_time like #{updateTime} limit #{from},#{to}
    </select>

    <update id="updateTunnel" parameterType="com.dataeye.proxy.bean.dto.TunnelInstance">
        update tunnel_manage
        set location = #{location},
        enable = #{enable},
        send_alarm_email = #{sendAlarmEmail},
        auto_get_core_ip_size = #{autoGetCoreIpSize},
        `domain` = #{domain},
        port = #{port},
        username = #{username},
        password = #{password},
        boss_thread_size = #{bossThreadSize},
        worker_thread_size = #{workerThreadSize},
        concurrency = #{concurrency},
        max_net_bandwidth = #{maxNetBandwidth},
        max_slow_req_size = #{maxSlowReqSize},
        core_ip_size = #{coreIpSize},
        max_ip_size = #{maxIpSize},
        check_ip_pool_interval_seconds = #{checkIpPoolIntervalSeconds},
        min_success_percent_for_remove_ip = #{minSuccessPercentForRemoveIp},
        min_use_times_for_remove_ip = #{minUseTimesForRemoveIp},
        max_fetch_ip_num_every_day = #{maxFetchIpNumEveryDay},
        used_ip = #{usedIp},
        connect_timeout_millis = #{connectTimeoutMillis},
        retry_count = #{retryCount},
        last_modified = #{lastModified},
        create_time = #{createTime},
        description = #{description}
        where alias = #{alias}
    </update>

</mapper>