<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dataeye.proxy.dao.TunnelInitMapper">
    <!--column不做限制，可以为任意表的字段，而property须为type 定义的pojo属性-->
    <resultMap id="select_all" type="com.dataeye.proxy.bean.dto.TunnelInstance">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="alias" jdbcType="VARCHAR" property="alias"/>
        <result column="ip" jdbcType="INTEGER" property="ip"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
        <result column="proxy_username" jdbcType="VARCHAR" property="proxyUsername"/>
        <result column="proxy_password" jdbcType="VARCHAR" property="proxyPassword"/>
        <result column="boss_thread_size" jdbcType="INTEGER" property="bossThreadSize"/>
        <result column="worker_thread_size" jdbcType="INTEGER" property="workerThreadSize"/>
        <result column="business_thread_size" jdbcType="INTEGER" property="businessThreadSize"/>
        <result column="proxy_ip_pool_size" jdbcType="INTEGER" property="proxyIpPoolSize"/>
        <result column="single_ip_ttl" jdbcType="INTEGER" property="singleIpTtl"/>
        <result column="update_ip_pool_cron_express" jdbcType="VARCHAR" property="updateIpPoolCronExpress"/>
        <result column="max_cpu_size" jdbcType="INTEGER" property="maxCpuSize"/>
        <result column="max_ram_size" jdbcType="INTEGER" property="maxRamSize"/>
        <result column="max_net_bandwidth_size" jdbcType="INTEGER" property="maxNetBandwidthSize"/>
        <result column="last_modified" jdbcType="TIMESTAMP" property="lastModified"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="queryAll" resultMap="select_all">
        SELECT * FROM tunnel_manage
    </select>
</mapper>